/* This file is empty right now but you should add a few things to it. */
img{
    width: 80%;
}

h1, h2, p {
    text-align: center;
}

#descr{
    font-style: italic;
}

input{
    width: 50%; 
    margin: 0 auto;
    display: block;
}

label{
    width: 50%; 
    margin: 0 auto;
    display: block;
}
